@model string[]
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create a New Role";
}
@using (Html.BeginForm())
{
    <div>
        <fieldset>
            <legend>Add New Role</legend>
            <div class="editor-label">
                @Html.Label("roleName", "Role Name:")
            </div>
            <div class="editor-field">
                @Html.TextBox("roleName")
                @Html.ValidationMessage("roleName")
            </div>
            <p>
                <input type="submit" value="Add Role" />
            </p>
        </fieldset>
    </div>
}
