@{
    ViewBag.Title = "自定义查询";
    Layout = "~/Views/Shared/_AceLayout.cshtml";
}
@section Styles {

    @*<link href="~/Content/ace_admin1.3.1/assets/css/select2.css" rel="stylesheet" />*@
    <link href="~/Content/ace_admin1.3.1/assets/css/datepicker.css" rel="stylesheet" />
    @*<link href="~/Content/matrix/css/datepicker.css" rel="stylesheet" />*@
    <link href="~/Content/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
}

<div class="widget-main">
    <!-- #section:plugins/fuelux.wizard -->
    <div id="fuelux-wizard" data-target="#step-container">
        <!-- #section:plugins/fuelux.wizard.steps -->
        <ul class="wizard-steps">
            <li data-target="#step1" class="active">
                <span class="step">1</span>
                <span class="title">选择查询条件</span>
            </li>

            <li data-target="#step2">
                <span class="step">2</span>
                <span class="title">选择结果显示类型</span>
            </li>

            <li data-target="#step3">
                <span class="step">3</span>
                <span class="title">配置发布信息</span>
            </li>

            <li data-target="#step4">
                <span class="step">4</span>
                <span class="title">完成</span>
            </li>
        </ul>

        <!-- /section:plugins/fuelux.wizard.steps -->
    </div>

    <hr />

    <!-- #section:plugins/fuelux.wizard.container -->
    <div class="step-content pos-rel" id="step-container">
        <div class="step-pane active" id="step1">
            <h3 class="lighter block green">从右侧可选控件中选择查询条件拖到要配置查询条件中</h3>

            <div class="row">

                <div class="col-md-8">

                    <div class="widget-box widget-color-green">
                        <!-- #section:custom/widget-box.options.collapsed -->
                        <div class="widget-header widget-header-small">
                            <h6 class="widget-title">
                                <i class="ace-icon fa fa-sort"></i>
                                要配置的查询条件
                            </h6>

                            <div class="widget-toolbar">
                                <a href="#" data-action="settings">
                                    <i class="ace-icon fa fa-cog"></i>
                                </a>

                                <a href="#" id="previewBtn">
                                    <i class="ace-icon fa fa-refresh"></i>
                                </a>

                                <a href="#" data-action="collapse">
                                    <i class="ace-icon fa fa-plus" data-icon-show="fa-plus" data-icon-hide="fa-minus"></i>
                                </a>

                                <a href="#" data-action="close">
                                    <i class="ace-icon fa fa-times"></i>
                                </a>
                            </div>
                        </div>

                        <!-- /section:custom/widget-box.options.collapsed -->
                        <div class="widget-body">
                            <div class="widget-main">
                                <div class="row" style="padding:10px;">
                                    <div class="widget-container-col" id="config-container">
                                        <div class="widget-box" style="">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="col-md-4">

                    <div class="widget-box widget-color-dark">
                        <!-- #section:custom/widget-box.options.collapsed -->
                        <div class="widget-header widget-header-small">
                            <h6 class="widget-title">
                                <i class="ace-icon fa fa-sort"></i>
                                可选控件
                            </h6>

                            <div class="widget-toolbar">
                                <a href="#" data-action="settings">
                                    <i class="ace-icon fa fa-cog"></i>
                                </a>

                                <a href="#" id="previewBtn">
                                    <i class="ace-icon fa fa-refresh"></i>
                                </a>

                                <a href="#" data-action="collapse">
                                    <i class="ace-icon fa fa-plus" data-icon-show="fa-plus" data-icon-hide="fa-minus"></i>
                                </a>

                                <a href="#" data-action="close">
                                    <i class="ace-icon fa fa-times"></i>
                                </a>
                            </div>
                        </div>

                        <!-- /section:custom/widget-box.options.collapsed -->
                        <div class="widget-body">
                            <div class="widget-main">

                                <div class="row" style="padding:10px;">
                                    <div class="widget-container-col">
                                        <div class="widget-box widget-color-blue" id="kssj">
                                            <!-- #section:custom/widget-box.options.collapsed -->
                                            <div class="widget-header widget-header-small">
                                                <h6 class="widget-title">
                                                    <i class="ace-icon fa fa-sort"></i>
                                                    开始时间
                                                </h6>

                                                <div class="widget-toolbar">
                                                    <a href="#" data-action="settings">
                                                        <i class="ace-icon fa fa-cog"></i>
                                                    </a>

                                                    <a href="#" data-action="reload">
                                                        <i class="ace-icon fa fa-refresh"></i>
                                                    </a>

                                                    <a href="#" data-action="collapse">
                                                        <i class="ace-icon fa fa-plus" data-icon-show="fa-plus" data-icon-hide="fa-minus"></i>
                                                    </a>

                                                    <a href="#" data-action="close">
                                                        <i class="ace-icon fa fa-times"></i>
                                                    </a>
                                                </div>
                                            </div>

                                            <!-- /section:custom/widget-box.options.collapsed -->
                                            <div class="widget-body">
                                                <div class="widget-main">
                                                    <div class="row">
                                                        <label for="startDate" class="col-sm-4 control-label no-padding-right">开始日期</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" id="startDate" class="col-xs-12 col-sm-12 datetimepicker">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="widget-box widget-color-blue" id="jssj">
                                            <!-- #section:custom/widget-box.options.collapsed -->
                                            <div class="widget-header widget-header-small">
                                                <h6 class="widget-title">
                                                    <i class="ace-icon fa fa-sort"></i>
                                                    结束时间
                                                </h6>

                                                <div class="widget-toolbar">
                                                    <a href="#" data-action="settings">
                                                        <i class="ace-icon fa fa-cog"></i>
                                                    </a>

                                                    <a href="#" data-action="reload">
                                                        <i class="ace-icon fa fa-refresh"></i>
                                                    </a>

                                                    <a href="#" data-action="collapse">
                                                        <i class="ace-icon fa fa-plus" data-icon-show="fa-plus" data-icon-hide="fa-minus"></i>
                                                    </a>

                                                    <a href="#" data-action="close">
                                                        <i class="ace-icon fa fa-times"></i>
                                                    </a>
                                                </div>
                                            </div>

                                            <!-- /section:custom/widget-box.options.collapsed -->
                                            <div class="widget-body">
                                                <div class="widget-main">
                                                    <div class="row">
                                                        <label for="startDate" class="col-sm-4 control-label no-padding-right">结束时间</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" id="startDate" class="col-xs-12 col-sm-12 datetimepicker">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="widget-box widget-color-blue" id="nhlx">
                                            <!-- #section:custom/widget-box.options.collapsed -->
                                            <div class="widget-header widget-header-small">
                                                <h6 class="widget-title">
                                                    <i class="ace-icon fa fa-sort"></i>
                                                    能耗类型
                                                </h6>

                                                <div class="widget-toolbar">
                                                    <a href="#" data-action="settings">
                                                        <i class="ace-icon fa fa-cog"></i>
                                                    </a>

                                                    <a href="#" data-action="reload">
                                                        <i class="ace-icon fa fa-refresh"></i>
                                                    </a>

                                                    <a href="#" data-action="collapse">
                                                        <i class="ace-icon fa fa-plus" data-icon-show="fa-plus" data-icon-hide="fa-minus"></i>
                                                    </a>

                                                    <a href="#" data-action="close">
                                                        <i class="ace-icon fa fa-times"></i>
                                                    </a>
                                                </div>
                                            </div>

                                            <!-- /section:custom/widget-box.options.collapsed -->
                                            <div class="widget-body">
                                                <div class="widget-main">
                                                    <div class="row">
                                                        <label for="startDate" class="col-sm-4 control-label no-padding-right">能耗类型</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" id="startDate" class="col-xs-12 col-sm-12 datetimepicker">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="widget-box widget-color-blue" id="tjmd">
                                            <!-- #section:custom/widget-box.options.collapsed -->
                                            <div class="widget-header widget-header-small">
                                                <h6 class="widget-title">
                                                    <i class="ace-icon fa fa-sort"></i>
                                                    统计密度
                                                </h6>

                                                <div class="widget-toolbar">
                                                    <a href="#" data-action="settings">
                                                        <i class="ace-icon fa fa-cog"></i>
                                                    </a>

                                                    <a href="#" data-action="reload">
                                                        <i class="ace-icon fa fa-refresh"></i>
                                                    </a>

                                                    <a href="#" data-action="collapse">
                                                        <i class="ace-icon fa fa-plus" data-icon-show="fa-plus" data-icon-hide="fa-minus"></i>
                                                    </a>

                                                    <a href="#" data-action="close">
                                                        <i class="ace-icon fa fa-times"></i>
                                                    </a>
                                                </div>
                                            </div>

                                            <!-- /section:custom/widget-box.options.collapsed -->
                                            <div class="widget-body">
                                                <div class="widget-main">
                                                    <div class="row">
                                                        <label for="startDate" class="col-sm-4 control-label no-padding-right">统计密度</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" id="startDate" class="col-xs-12 col-sm-12 datetimepicker">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="widget-box widget-color-blue" id="tjlx">
                                            <!-- #section:custom/widget-box.options.collapsed -->
                                            <div class="widget-header widget-header-small">
                                                <h6 class="widget-title">
                                                    <i class="ace-icon fa fa-sort"></i>
                                                    统计类型
                                                </h6>

                                                <div class="widget-toolbar">
                                                    <a href="#" data-action="settings">
                                                        <i class="ace-icon fa fa-cog"></i>
                                                    </a>

                                                    <a href="#" data-action="reload">
                                                        <i class="ace-icon fa fa-refresh"></i>
                                                    </a>

                                                    <a href="#" data-action="collapse">
                                                        <i class="ace-icon fa fa-plus" data-icon-show="fa-plus" data-icon-hide="fa-minus"></i>
                                                    </a>

                                                    <a href="#" data-action="close">
                                                        <i class="ace-icon fa fa-times"></i>
                                                    </a>
                                                </div>
                                            </div>

                                            <!-- /section:custom/widget-box.options.collapsed -->
                                            <div class="widget-body">
                                                <div class="widget-main">
                                                    <div class="row">
                                                        <label for="startDate" class="col-sm-4 control-label no-padding-right">统计类型</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" id="startDate" class="col-xs-12 col-sm-12 datetimepicker">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>






                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>

        <div class="step-pane" id="step2">
            <div>
                <label class="control-label bolder blue">Radio</label>


                


                <div class="row">
                    <div class="col-xs-12 col-md-6">

                            <div class="radio">
                                <label>
                                    <input name="form-field-radio" type="radio" class="ace" />
                                    <span class="lbl"> 分类结果</span>
                                </label>
                            </div>

                        <a href="#" class="thumbnail">
                            <img src="~/Content/ace_admin1.3.1/assets/images/email2.png" />
                        </a>
                    </div>
                    <div class="col-xs-12 col-md-6">

                        <div class="radio">
                            <label>
                                <input name="form-field-radio" type="radio" class="ace" />
                                <span class="lbl"> 汇总结果</span>
                            </label>
                        </div>

                        <div class="thumbnail">
                            <img src="~/Content/ace_admin1.3.1/assets/images/email4.png" />
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="step-pane" id="step3">
            <div class="center">
                <h3 class="blue lighter">发布信息配置</h3>
            </div>
        </div>

        <div class="step-pane" id="step4">
            <div class="center">
                <h3 class="green">恭喜你!</h3>
                你的自定义菜单已经发布，请到左侧自定义菜单列表查看！
            </div>
        </div>
    </div>

    <!-- /section:plugins/fuelux.wizard.container -->
    <hr />
    <div class="wizard-actions">
        <!-- #section:plugins/fuelux.wizard.buttons -->
        <button class="btn btn-prev">
            <i class="ace-icon fa fa-arrow-left"></i>
            Prev
        </button>

        <button class="btn btn-success btn-next" data-last="Finish">
            Next
            <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
        </button>

        <!-- /section:plugins/fuelux.wizard.buttons -->
    </div>

    <!-- /section:plugins/fuelux.wizard -->
</div><!-- /.widget-main -->
@section Scripts {
    <script src="~/Content/ace_admin1.3.1/assets/js/uncompressed/fuelux/fuelux.wizard.js"></script>
    <script type="text/javascript">
        var arrayC = new Array();
        $(function () {


            $('#fuelux-wizard').ace_wizard({
                //step: 2 //optional argument. wizard will jump to step "2" at first
            }).on('change', function (e, info) {
                //if (info.step == 1 && $validation) {
                //    if (!$('#validation-form').valid()) return false;
                //}
            }).on('finished', function (e) {
                alert("finished");
                //bootbox.dialog({
                //    message: "Thank you! Your information was successfully saved!",
                //    buttons: {
                //        "success": {
                //            "label": "OK",
                //            "className": "btn-sm btn-primary"
                //        }
                //    }
                //});
            }).on('stepclick', function (e) {
                //e.preventDefault();//this will prevent clicking and selecting steps
            });


            //jump to a step
            $('#step-jump').on('click', function () {
                var wizard = $('#fuelux-wizard').data('wizard')
                wizard.currentStep = 3;
                wizard.setState();
            });
            //determine selected step
            //wizard.selectedItem().step




            // widget boxes
            // widget box drag & drop example
            $('.widget-container-col').sortable({
                connectWith: '.widget-container-col',
                items: '> .widget-box',
                handle: ace.vars['touch'] ? '.widget-header' : false,
                cancel: '.fullscreen',
                opacity: 0.8,
                revert: true,
                forceHelperSize: true,
                placeholder: 'widget-placeholder',
                forcePlaceholderSize: true,
                tolerance: 'pointer',
                start: function (event, ui) {
                    //when an element is moved, it's parent becomes empty with almost zero height.
                    //we set a min-height for it to be large enough so that later we can easily drop elements back onto it
                    ui.item.parent().css({ 'min-height': ui.item.height() })
                    //ui.sender.css({'min-height':ui.item.height() , 'background-color' : '#F5F5F5'})
                },
                update: function (event, ui) {
                    ui.item.parent({ 'min-height': '' })
                    //p.style.removeProperty('background-color');
                    if (ui.item.parent().parent().parent().parent().parent().hasClass("widget-color-dark")) {
                        //ui.item.removeClass("col-md-4");
                        //var itemId = ui.item.attr("id");
                        //arrayC.remove(itemId);
                    } else {
                        //ui.item.addClass("col-md-4");
                        //var itemId = ui.item.attr("id");
                        //arrayC.push(itemId);
                    }
                }
            });

            $("#previewBtn").click(function () {
                //var ids = $("#config-container > .widget-box ");
                //arrayC.push(ids);
                arrayC = [];
                $("#config-container > .widget-box ").each(function (index, element) {
                    var itemId = $(element).attr("id");
                    if (itemId != undefined && itemId != "") {
                        arrayC.push(itemId);
                    }
                });

                alert(arrayC.toString());

            })



        })//end document.ready

        Array.prototype.remove = function (item) {
            var a = this.indexOf(item);
            if (a >= 0) {
                this.splice(a, 1);
                return true;
            }
            return false;
        };

    </script>
}