
@{
    ViewBag.Title = "CompanyIndex";
}
@section headerScripts {
<link href="~/Content/company-site.css" rel="stylesheet" />
    
    }

<header>
    <div class="container">
        <div class="text-center" style="background-color:transparent;color:white">
            <h1 class="brand">
                <img src="~/Content/Images/ico128.png" rel="image_src" alt="logo">
                CC·工作室
            </h1>
            <p>
                我们能够帮你快速打造一个属于你自己的 <strong>网站，</strong> <br />让你的产品得到更好地推广<strong>走向世界。</strong>
            </p>
            <!--<p><a class="btn btn-success btn-lg">Learn more</a></p>-->
        </div>
    </div>
</header>
<content>
    <div class="container">
        <!--jumbotron-->
        <!--twoImage-->
        <div class="row">
            <div class="col-md-6">
                <img src="~/Content/Images/theme_editor.png" class="pull-left" alt="Front-end Developers">
                <h2><strong>网站设计</strong></h2>
                <p><strong>HTML5</strong> code of high quality generated with our interface builder.</p>
                <p>Based in the elements and components of <a href="http://twitter.github.io/bootstrap/">Bootstrap</a>, a robust front-end framework.</p>
                <p>All your designs can be <strong>Responsive CSS</strong> <br>and <strong>Fluid</strong></p>
            </div>
            <div class="col-md-6">
                <img src="~/Content/Images/developer.png" class="pull-left" alt="Features">
                <h2><strong>网站开发</strong></h2>
                <p>Drag-and-drop the same <strong>Bootstrap</strong> components to your own design.</p>
                <p>Easy to integrate with <strong>any programming language</strong>, you just download the HTML and start coding the design into it.</p>
                <p>Professional and validated HTML where you can replace with your own variables, loops or anything you need!</p>
            </div>
        </div>
        <!--note-->
        <div class="row note-detail">
            <div class="col-md-12">
                <div class="well text-center">
                    <h3>LayoutIt! is NOT a site builder. It's the <em>kick-off for every frontend project</em> you need to develop.</h3>
                    <p class="mute">LayoutIt! takes every element and component of <a href="http://twitter.github.io/bootstrap/">Bootstrap</a> to make your frontend coding easier without needing to be<br> an expert in <strong>javascript</strong>, <strong>html5</strong> or <strong>css3</strong>. You just build what you need to start, and then code it however you most like!</p>
                </div>
            </div>
        </div>

        <!--image-->
        <div class="row clearfix">
            <div class="col-md-12 column">

                <!--<button type="button" class="btn btn-success btn-default">Default</button>-->
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <img alt="300x200" src="~/Content/Images/4.png">
                            <div class="caption">
                                <h3>
                                    Thumbnail label
                                </h3>
                                <p>
                                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                </p>
                                <p>
                                    <a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <img alt="300x200" src="~/Content/Images/4.png">
                            <div class="caption">
                                <h3>
                                    Thumbnail label
                                </h3>
                                <p>
                                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                </p>
                                <p>
                                    <a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <img alt="300x200" src="~/Content/Images/4.png">
                            <div class="caption">
                                <h3>
                                    Thumbnail label
                                </h3>
                                <p>
                                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                </p>
                                <p>
                                    <a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <img alt="300x200" src="~/Content/Images/4.png">
                            <div class="caption">
                                <h3>
                                    Thumbnail label
                                </h3>
                                <p>
                                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                </p>
                                <p>
                                    <a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="hr-width-10" />
                <div class="row clearfix">
                    <div class="col-md-3 column">
                        <div class="page-header">
                            <h3><strong>合作伙伴 <small>Partner</small></strong></h3>
                        </div>
                        <div class="row partnerrow">
                            <div class="col-xs-6 col-md-4">
                                <a href="#">
                                    <img alt="..." src="~/Content/Images/partner1.jpg">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <a href="#">
                                    <img alt="..." src="~/Content/Images/partner1.jpg">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <a href="#">
                                    <img alt="..." src="~/Content/Images/partner1.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="row partnerrow">
                            <div class="col-xs-6 col-md-4">
                                <a href="#">
                                    <img data-src="holder.js/100%x100%" alt="..." src="~/Content/Images/partner1.jpg">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <a href="#">
                                    <img data-src="holder.js/100%x180" alt="..." src="~/Content/Images/partner1.jpg">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <a href="#">
                                    <img data-src="holder.js/100%x180" alt="..." src="~/Content/Images/partner1.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 column">
                        <div class="page-header">
                            <h3><strong>联系我们 <small>Contact</small></strong></h3>
                        </div>
                        <!--<h3>联系我们<p class="text-muted" style="display:inline; font-size:18px">Contact</p></h3>-->
                        <p><strong>总店</strong></p>
                        <p>
                            营业时间：周三—周日 9:17-18:00
                        </p>
                        <p>
                            地址:北京市朝阳区观音堂中路安德鲁斯庄园西区251栋102号
                        </p>
                        <p><strong>分店</strong></p>
                        <p>
                            营业时间：周三—周日 9:17-18:00
                        </p><p>
                            地址:北京市朝阳区观音堂中路安德鲁斯庄园西区251栋102号
                        </p>
                    </div>
                    <div class="col-md-4 column">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="#" class="thumbnail">
                                    <img data-src="holder.js/100%x180" alt="..." src="~/Content/Images/map.png">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</content>
