<div id="nav-layout" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*@Html.ActionLink(ConfigurationManagerHelper.GetAppSettings("ApplicationName"), "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("首页", "Index", "Home")</li>
                <li><a href="/imageWall.html">生日祝福</a></li>
                <li><a href="/index2">蜜月</a></li>
                <li><a href="/index2">婚纱</a></li>
                <li><a href="/index2">写真</a></li>
                <li><a href="/index2">商业</a></li>
                <li><a href="/Home/About">关于</a></li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

