        <!--toolbar-->
<div id="float-toolbar" class="text-center" style="color:white; position: fixed;z-index: 999; right:20px; bottom:100px; width:53px; height:154px;">
    <div id="toolbar-gz" style="background:url(../../Content/Images/icon.jpg) 0 0px;width:53px; height:104px;"></div>
    <hr style="border-top:0" />
    <div id="toolbar-rtop" onclick="$('html,body').animate({ scrollTop: 0 }, 500)" style="display:none; background:url(../../Content/Images/icon.jpg) 0 -118px ;width:53px;height:50px;"></div>
</div>
