<footer>
    <!--footer-->
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <p class="text-muted text-center">
                    Copyright © 1998 - 2014 Chaphets. All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</footer>

