
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>意见查看</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if IE]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    <![endif]-->

</head>
<body>
    <div class="container"> 
        <div class="text-center" id="subject">
            <h2>关于某某某通知的意见</h2>
        </div>
            <div id="content">
            <p>
                在这里你可以看到杰伦客观及时的独家资讯。精心制作的公用签图和精彩丰富的伦吧动态。伦吧微信平台会及时为大家推送杰伦的最新消息，让大家最快的知道杰伦的动态哦！大家速速关注起来吧~
                微信订阅号：伦吧JayBar
                最新演唱会行程请关注新浪微博@百度周杰伦吧 或直接订阅我们的官方微信公众平台！
            </p>
        </div>
        <div id="content-footer" class="text-right">
            <small>张三 2014-10-11</small>
        </div>
        <hr />
        <div id="reply-content">
            <h4>下面是领导的回复意见：</h4>
            <ul class="list-unstyled">
                <li>
                    <blockquote>
                        <p>同意改意见，转给运营部去处理</p>
                        <footer>领导二 <cite title="Source Title">2014-10-11 22:30</cite></footer>
                    </blockquote>
                </li>
                <li>
                    <blockquote>
                        <p>同意改意见，转给运营部去处理</p>
                        <footer>领导二 <cite title="Source Title">2014-10-11 22:30</cite></footer>
                    </blockquote>
                </li>
            </ul>
        </div>
        <hr />
        <div id="reply-feild" class="row">
            <p>可以从下面输入框中输入意见，点击添加回复进行回复</p>
            <textarea cols="5" rows="5" class="col-xs-12"></textarea>
            <button class="btn btn-success pull-right" style="margin-top:10px" onclick="">添加回复</button>
        </div>
    </div>
</body>
</html>
