<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SCS" version="1.1.0.1" targetFramework="net451" />
  <package id="Simple.Owin" version="0.10.0" targetFramework="net451" />
  <package id="Simple.Owin.AppPipeline" version="0.10.0" targetFramework="net451" />
  <package id="Simple.Owin.Hosting" version="0.10.0" targetFramework="net451" />
  <package id="Simple.Owin.Servers.TcpServer" version="0.10.0" targetFramework="net451" />
</packages>