@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MatrixLayout.cshtml";
}


<!--breadcrumbs-->
<div id="content-header">
    <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
</div>
<!--End-breadcrumbs-->
<h2>Index</h2>