@{
    ViewBag.Title = "建筑分类能耗对比";
    Layout = "~/Views/Shared/_AceLayout.cshtml";
    var selector = ViewData["Buildings"] as List<EDMWebsite.Models.DbModels.Comdict>;
}
@section Styles {

}

@section Scripts {
    <script src="~/Content/highchart/highcharts.src.js"></script>
    <script type="text/javascript">
        $(function () {

            //$('select').select2();
            //$("#building-selector").on("change", function (e) {
            //    console.log($(this).find("option:selected").text());
            //});

            $('#chartContainer').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: '行政办公建筑能耗对比, 2014'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: '占比',
                    data: [
                        ['办公室', 45.0],
                        ['后勤楼', 26.8],
                        {
                            name: '物管楼',
                            y: 12.8,
                            sliced: true,
                            selected: true
                        },
                        ['图书馆', 8.5],
                        ['博文楼', 6.2],
                        ['其他', 0.7]
                    ]
                }]
            });


        });

    </script>
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-sm-offset-3 col-sm-6">
            <select id="building-selector" class="chosen-select" data-placeholder="Choose a State...">
                @foreach (var item in selector)
                {
                    <option value=@item.Key>@item.Value</option>
                }
            </select>
        </div>
    </div>


    <div class="row-fluid">
        <div class="col-xs-12">
            <div class="widget-box">
                <div class="widget-header widget-header-flat">
                    <h5>
                        <span class="icon"> <i class="ace-icon fa fa-bar-chart-o"></i> </span>
                        行政办公建筑能耗对比
                    </h5>
                </div>
                <div class="widget-body nopadding">
                    <div style="position: absolute;z-index: 1000;">
                        <div data-toggle="buttons" class="btn-group">
                            <label class="btn btn-primary btn-sm">
                                <input type="radio" value="1" />
                                <i class="icon-only ace-icon glyphicon glyphicon-tint"></i>水
                            </label>

                            <label class="btn btn-warning btn-sm">
                                <input type="radio" value="2" />
                                <i class="icon-only ace-icon fa fa-bolt"></i>电
                            </label>

                            <label class="btn btn-danger btn-sm">
                                <input type="radio" value="3" />
                                <i class="icon-only ace-icon fa fa-certificate"></i>暖
                            </label>
                        </div>
                    </div>
                    <div id="chartContainer"></div>

                </div>
            </div>
        </div>
    </div>
</div>


