@model EDMWebsite.Models.ViewModels.QueryModel
@{
    ViewBag.Title = "建筑分类能耗对比";
    Layout = "~/Views/Shared/_AceLayout.cshtml";
    var selector = ViewData["Buildings"] as List<EDMWebsite.Models.DbModels.Comdict>;
}
@section Styles {

}

@section Scripts {
    <script src="~/Content/highchart/highcharts.src.js"></script>
<script src="~/Content/ace_admin1.3.1/assets/js/date-time/moment/min/moment.min.js"></script>
<script src="~/Content/ace_admin1.3.1/assets/js/date-time/moment/min/moment-with-locales.min.js"></script>
<script src="~/content/ace_admin1.3.1/assets/js/date-time/locales/moment-local-zhcn.js"></script>
<script src="~/Content/ace_admin1.3.1/assets/js/date-time/moment/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        $(function () {

            //$('select').select2();
            //$("#building-selector").on("change", function (e) {
            //    console.log($(this).find("option:selected").text());
            //});

            $('#chartContainer').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                    
                },
                title: {
                    text: '行政办公建筑能耗对比, 2014'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    },
                    series:{
                        events: {
                                click: function (e) {
                                    console.log(
                                        e.point.name
                                    )
                                    window.open('/Buildings/OfficeBuildings');
                                }
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: '占比',
                    data: [
                        ['物管楼', 45.0],
                        ['后勤楼', 26.8],
                        {
                            name: '办公室',
                            y: 12.8,
                            attr1:"aaaaaa",
                            sliced: true,
                            selected: true
                        },
                        ['图书馆', 8.5],
                        ['博文楼', 6.2],
                        ['其他', 0.7]
                    ]
                   
                }]
            });

            $('.datetimepicker').datetimepicker({
                format: "YYYY-MM-DD HH:mm"
            }).next().on(ace.click_event, function () {
                $(this).prev().focus();
            });
        })

    </script>
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-sm-offset-3 col-sm-6">
            <select id="building-selector" class="chosen-select" data-placeholder="Choose a State...">
                @foreach (var item in selector)
                {
                    <option value=@item.Key>@item.Value</option>
                }
            </select>
        </div>
    </div>


    <div class="row-fluid">
        <div class="col-xs-12">

            @using (Html.BeginForm("OfficeBuildings", "Buildings", FormMethod.Post, new { @class = "form-horizontal", style = "padding-top:10px;" }))
            {
                <div id="smartSearch">
                    <div class="form-group">
                        <label for="startDate" class="col-sm-1 control-label no-padding-right">开始日期</label>
                        <div class="col-sm-2">
                            @Html.TextBoxFor(model => model.StartDate, new { @class = "col-xs-12 col-sm-12 datetimepicker", id = "startDate" })
                            @*<input type="text" id="startDate" class="col-xs-12 col-sm-12 datetimepicker">*@
                        </div>
                        <label for="startDate" class="col-sm-1 control-label no-padding-right">结束日期</label>
                        <div class="col-sm-2">
                            @Html.TextBoxFor(model => model.EndDate, new { @class = "col-xs-12 col-sm-12 datetimepicker", id = "endDate" })
                            @*<input type="text" id="endDate" class="col-xs-12 col-sm-12 datetimepicker">*@
                        </div>
                        <label for="startDate" class="col-sm-1 control-label no-padding-right">类型</label>
                        <div class="col-sm-2">
                            @*@Html.DropDownList("energyType", (List<SelectListItem>)ViewData["EnergyType"], new { @class = "chosen-select col-xs-12 col-sm-12 tag-input-style", multiple="" })*@
                            @Html.ListBoxFor(model => model.EnergyType, (List<SelectListItem>)ViewData["EnergyType"], new { @class = "chosen-select col-xs-12 col-sm-12 tag-input-style", multiple = "" })
                            @*<select multiple="" class="chosen-select col-xs-12 col-sm-12 tag-input-style" id="energyType">
                                                                        onfocus="$('#modal-form').modal('toggle')">
                                                                        @{
                                                                            var selectList = ViewData["EnergyType"] as List<T_DT_EnergyItemDict>;
                                                                            if (selectList == null)
                                                                            {
                                                                                selectList = new List<T_DT_EnergyItemDict>();
                                                                            }
                                                                        }
                        @foreach (var item in selectList)
                        {
                            if (item.F_ParentItemCode == item.F_EnergyItemCode )
                            {
                                <optgroup label="电">
                                                                            <option>电1</option>
                                                                            <option>电2</option>
                                                                            <option>电3</option>
                                                                        </optgroup>
                            }
                        }
                                                                        <optgroup label="电">
                                                                            <option>电1</option>
                                                                            <option>电2</option>
                                                                            <option>电3</option>
                                                                        </optgroup>

                                                                        <option>电</option>
                                                                        <option>火</option>
                                                                        <option>煤</option>
                                                                    </select>*@
                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-primary btn-sm" id="simple-query-btn">查询</button>
                        </div>
                    </div>
                </div>

            }





            <div class="widget-box">
                <div class="widget-header widget-header-flat">
                    <h5>
                        <span class="icon"> <i class="ace-icon fa fa-bar-chart-o"></i> </span>
                        行政办公建筑能耗对比
                    </h5>
                </div>
                <div class="widget-body nopadding">
                    <div style="position: absolute;z-index: 1000;">
                        <div data-toggle="buttons" class="btn-group">
                            <label class="btn btn-primary btn-sm">
                                <input type="radio" value="1" />
                                <i class="icon-only ace-icon glyphicon glyphicon-tint"></i>水
                            </label>

                            <label class="btn btn-warning btn-sm">
                                <input type="radio" value="2" />
                                <i class="icon-only ace-icon fa fa-bolt"></i>电
                            </label>

                            <label class="btn btn-danger btn-sm">
                                <input type="radio" value="3" />
                                <i class="icon-only ace-icon fa fa-certificate"></i>暖
                            </label>
                        </div>
                    </div>
                    <div id="chartContainer"></div>

                </div>
            </div>
        </div>
    </div>
</div>


