@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>




<li class="">
    <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-caret-right"></i>
        行政办公建筑
        <b class="arrow fa fa-angle-down"></b>
    </a>

    <b class="arrow"></b>

    <ul class="submenu">
        <li class="">
            <a href="/Buildings/OfficeBuildings">
                <i class="menu-icon fa fa-caret-right"></i>
                办公室
            </a>

            @*<b class="arrow"></b>*@
        </li>

        <li class="">
            <a href="mobile-menu-1.html">
                <i class="menu-icon fa fa-caret-right"></i>
                后勤楼
            </a>

            @*<b class="arrow"></b>*@
        </li>

        <li class="">
            <a href="mobile-menu-2.html">
                <i class="menu-icon fa fa-caret-right"></i>
                物管楼
            </a>

            @*<b class="arrow"></b>*@
        </li>
    </ul>
</li>

<li class="">
    <a href="typography.html"><i class="menu-icon fa fa-caret-right"></i>教学楼</a><b class="arrow"></b>
</li>
<li class="">
    <a href="typography.html"><i class="menu-icon fa fa-caret-right"></i>场馆类</a><b class="arrow"></b>
</li>
<li class="">
    <a href="typography.html"><i class="menu-icon fa fa-caret-right"></i>食堂</a><b class="arrow"></b>
</li>
<li class="">
    <a href="typography.html"><i class="menu-icon fa fa-caret-right"></i>学生宿舍</a><b class="arrow"></b>
</li>
<li class="">
    <a href="typography.html"><i class="menu-icon fa fa-caret-right"></i>大型或特殊实验室</a><b class="arrow"></b>
</li>
<li class="">
    <a href="typography.html"><i class="menu-icon fa fa-caret-right"></i>医院</a><b class="arrow"></b>
</li>
<li class="">
    <a href="typography.html"><i class="menu-icon fa fa-caret-right"></i>其他</a><b class="arrow"></b>
</li>
