<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    <!--<target name="console" xsi:type="ColoredConsole" 
          layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}"/>
    <target name="file" xsi:type="File" fileName="${basedir}/log.txt"
            layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}][${level}] ${message} ${exception}"/>-->
    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    <target xsi:type="File" Encoding="utf-8" name="ErrorLoggerTarget" fileName="E:/CcLogs/Error/CcErrors_${processid}.txt"
         layout="${longdate} ${uppercase:${level}} ${message}" keepFileOpen="false" archiveAboveSize="2048576" maxArchiveFiles="500" archiveNumbering="Rolling" />
    <target xsi:type="File" Encoding="utf-8" name="InfoLoggerTarget" fileName="E:/CcLogs/Info/CcInfos_${processid}.txt"
                 layout="${longdate} ${uppercase:${level}} ${message}" keepFileOpen="false" archiveAboveSize="2048576" maxArchiveFiles="500" archiveNumbering="Rolling" />


  </targets>

  <rules>
    <!-- add your logging rules here -->
    <!--<logger name="*" minlevel="Debug" writeTo="console"></logger>
    <logger name="ccLoger" minlevel="Debug" writeTo="console"></logger>
    <logger name="*" minlevel="Debug" writeTo="file"></logger>-->

    <logger name="InfoLogger" minlevel="Info" writeTo="InfoLoggerTarget" />
    <logger name="ErrorLogger" minlevel="Error" writeTo="ErrorLoggerTarget" />


    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
  </rules>
</nlog>